BOT_TOKEN="114514:ABCDEFGHIJKLMNOPQRSTUVWXYZ"
WEBHOOK_URL="https://api.example.com/telegram-webhook"
WEBHOOK_ADDR="localhost:2847"
DEBUG="true"
LOG_LEVEL="info"
LOG_CHAT_ID="0" # todo
LOG_FILE_LEVEL="info"
LOG_FILE_PATH="./log.jsonl" # set to "disable" to disable log file
CONFIG_PATH="./path_to/your_config_file.yaml" # auto create if not exist
CONFIG_DIR="./path_to/your_config_file_dir/"  # if use this, must have a config file name `config.yaml` in directory
