BOT_TOKEN="114514:ABCDEFGHIJKLMNOPQRSTUVWXYZ"
WEBHOOK_URL="https://api.example.com/telegram-webhook"
DEBUG="true"
LOG_LEVEL="info"
LOG_FILE_LEVEL="info"
CONFIG_PATH_TO_FILE="./path/to/your_config_file.yaml"
CONFIG_DIRECTORY="." # if use this, must have a config file name `config.yaml` in directory
